<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <!-- 允许上传大文件，单位为KB -->
        <httpRuntime maxRequestLength="4194304" executionTimeout="3600" />
        <compilation debug="true" targetFramework="4.5" />
    </system.web>
    
    <system.webServer>
        <!-- 请求大小限制，单位为字节，最大4GB -->
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
        <directoryBrowse enabled="false" showFlags="Date, Time, Size, Extension, LongDate" />
    </system.webServer>
</configuration>